.lifecycle-ui svg {
    border: 1px solid black;
}

.lifecycle-ui circle {
    stroke: black;
    stroke-width: 2px;
}

.lifecycle-ui line {
    stroke: black;
    stroke-width: 1px;
}

.lifecycle-ui text {
    cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.lifecycle-ui text::selection {
    background: none;
}

.inspector li.has-children {
    background: transparent;
}

.inspector a {
    border: none;
    color: #000;
}

.inspector a.sf-with-ul {
    padding-top: .3em;
}

.inspector .sf-sub-indicator {
    top: .2em;
}
