.lifecycle-ui .status-menu {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.lifecycle-ui .status-menu.selected {
    display: block;
}

.lifecycle-ui .status-menu .not-current,
.lifecycle-ui .status-menu .no-transition,
.lifecycle-ui .status-menu .no-permission,
.lifecycle-ui .status-menu .hide-resolve-with-deps {
    color: #AAAAAA;
    cursor: default;
    text-decoration: none;
}

