.lifecycle-ui svg.editing {
    display: inline-block;
    float: left;
    width: 809px;
    height: 500px;
    background: #F9F9F9 url('data:image/svg+xml,\
        <svg xmlns="http://www.w3.org/2000/svg" width="400" height="400"         fill-opacity=".05" >\
            <rect x="200" width="200" height="200" />\
            <rect y="200" width="200" height="200" />\
    </svg>');
    background-size: 25px 25px;
}

.lifecycle-ui .inspector {
    display: inline-block;
    min-width: 100px;
    padding: 10px;
    min-height: 480px;
    border: 1px solid black;
}

.lifecycle-ui .state {
    display: none;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.lifecycle-ui circle.selected {
    stroke-width: 6px;
}

.lifecycle-ui .inspector .status span.status-color {
    display: inline;
    padding-left: 1em;
    border: 1px solid black;
}

.lifecycle-ui .removing {
    opacity: 0 !important;
    transition: opacity .2s;
}

