.lifecycle-ui svg {
    border: 1px solid black;
    width: 500px;
    height: 309px;
}

.lifecycle-ui .statuses circle {
    stroke: black;
    stroke-width: 2px;
}

.lifecycle-ui .transitions path {
    stroke: black;
    stroke-width: 2px;
    fill: none;
    opacity: .15;
    marker-end: url(#marker_arrowhead);
}

.lifecycle-ui .dotted {
    stroke-dasharray: 2;
}

.lifecycle-ui .dashed {
    stroke-dasharray: 5;
}

.lifecycle-ui .statuses text {
    text-anchor: middle;
    alignment-baseline: middle;
}

.lifecycle-ui .decorations polygon {
    stroke-width: 2px;
}

.lifecycle-ui text {
    cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.lifecycle-ui text::selection {
    background: none;
}

